$height: 26px;
$width: 46px;

.m-switch {
  cursor: pointer;
  width: $width;
  height: $height;
  opacity: 1;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border: 1px solid #bdbdbd;
  border-radius: 13px;
  background-color: #fafafa;
  position: relative;
  &-circle {
    position: absolute;
    display: inline-block;
    height: $height;
    width: $height;
    border-radius: 50%;
    background: #fff;
    left: 0;
    right: auto;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    transition: 150ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  }
  &-on {
    background-color: #52d869;
    .m-switch-circle {
      left: $width - $height;
    }
  }
  &-disabled {
    background: #000;
    opacity: .12;
    cursor: default;
    pointer-events: none;
    .m-switch-circle {
      background-color: #bdbdbd;
    }
  }
}
